manifest {
    mainScript = 'mm_pipeline.nf'
}

// default parameters
params {
    //inputs
    cores = "4"
    fastq = ''
    fasta = ''
    output = 'results'
    help = ''

    //options available tools
    fastqtofasta = false
    filtlong = false
    flye = false
    nanoplot = false
    spades = false

    //assembly option flye
    meta = ''
    g = '1m'

    // filtlong options
    filterlenght = '2000'

    //assembly via spades

}


//docker multifraktal/flye:latest
profiles {
        standard {
        docker { enabled = true }
        params.cpus = params.cores
        process { 
            withLabel: fastqtofasta { container = 'multifractal/seqtk:latest'}
            withLabel: filtlong { container = 'multifractal/filtlong:latest'}
            withLabel: flye { container = 'nanozoo/flye:latest' }
            withLabel: nanoplot { container = 'multifractal/nanoplot:latest'}
            withLabel: spades { container = 'multifractal/spades:latest'}
}}}