manifest {
    mainScript = 'mm_pipeline.nf'
}

// default parameters
params {
    //inputs
    cores = "4"
    fastq = ''
    fasta = ''
    output = 'results'
    help = ''

    //options
    flye = false
    fastqtofasta = false
    nanoplot = false

    //assembly option
    meta = ''
    g = '1m'
}


//docker multifraktal/flye:latest
profiles {
        standard {
        docker { enabled = true }
        params.cpus = params.cores
        process { 
            withLabel:flye { container = 'nanozoo/flye:latest' }
            withLabel:fastqtofasta { container = 'multifractal/seqtk:latest'}
            withLabel:nanoplot { container = 'multifractal/nanoplot:latest'}
}}}