process {
    withLabel: spades           { container = 'replikation/spades:latest'}
    withLabel: flye             { container = 'nanozoo/flye:2.5--bae51d9'}
    withLabel: canu             { container = 'nanozoo/canu:v1.9--1dccfef'}
    withLabel: emboss           { container = 'quay.io/biocontainers/emboss:6.5.7--4' }
    withLabel: ggplot2          { container = 'michelsteuwer/ggplot2:latest' }
    withLabel: hmmscan          { container = 'mhoelzer/hmmscan:0.1' }
    withLabel: prodigal         { container = 'nanozoo/prodigal:2.6.3--2769024' }
    withLabel: python           { container = 'nanozoo/template:3.8--ccd0653' }
    withLabel: samtools         { container = 'nanozoo/samtools:1.9--76b9270' }
    withLabel: seqkit           { container = 'nanozoo/seqkit:0.10.1--360dd6d' }
    withLabel: sourmash         { container = 'nanozoo/sourmash:2.3.0--4257650'  }
    withLabel: ubuntu           { container = 'nanozoo/basics:1.0--962b907' }

}
